<%= link_to products_path do%>
  <h1>Inventario</h1>
  <%= link_to "Productos", products_path if Current.user%>
  <%= link_to "Categorias", categories_path if Current.user%>
  <%= link_to "Login", new_session_path unless Current.user %>
  <%= link_to "Register", new_user_path unless Current.user%>
  <%= link_to t('.logout'), session_path(Current.user.id), data: {
  turbo_method: :delete,
  turbo_confirm: "¿Está seguro de Salir?"
} if Current.user %>
<% end %>
